*{
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
    color: rgb(0, 85, 255);
    margin: 50px 0px;
}
.answerSection{
    width: 90%;
    margin: auto;
}
.card{
    margin: 20px 0px;
    padding: 20px;
    border-radius: 14px;
    border: 2px solid rgb(0, 85, 255);
}
.card h2{
    font-size: 20px;
    color: rgb(0, 166, 255);
}
.card h3{
    margin: 20px 0px 5px;
}
.card p{
    font-size: 18px;
    padding-left: 20px;
}